.container {
  position:relative;
  height: 100%;
  min-height:400px;
  width: 100%;
}

.searchBar {
  position: fixed;
  top: 90px;  
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 8px;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.button {
  padding: 6px 12px;
  border-radius: 4px;
  background: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #0059c1;
}

.map {
  height: 100vh;
  margin-top:60px;
  width: 100%;
}

.card {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.811);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  width: 280px;
  text-align: center;
  z-index: 1000;
}

